@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway|Lato");

body {
  height: 100%;
  margin: 0;

  /* Full height */
  height: 100%;
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

.navbar-brand {
  font-family: "Playfair Display", serif;
  font-size: 1.4em;
}

.bg-image {
  background-color: #f7dfef;

  /* Center and scale the image */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.flash-msg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}