<!-- TODO: This page will show a confirmation that we have received user's registration form.
    This page explains to user that registration is complete/success and that they can log in, bla bla bla.
    It should have a button to go to login.html
-->

<!-- I've copy pasted these lines of codes from verify_email.html and deleted that page -->
{% extends 'layout.html' %}
{% block head %}
    <link type="text/css" href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}



  <div class="column">


<div class="card is-three-fifths">
  <header class="card-header">
    <p class="card-header-title">
      Success!
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <p>Thank you for signing up. We sent an email to <b>{{session['email']}}</b> to verify your account</p>
      <p>Once you have verified your email, use the link below to login to your account</p>

    </div>
  </div>
  <footer class="card-footer">
    <a href="/login" class="card-footer-item">Login</a>
  </footer>
</div>
</div>


{% endblock %}
