{% extends "layout.html" %}
{% block head %}
    <link type="text/css" href="{{ url_for('static', filename='css/mainpage.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <section id="bgImage" class="section">
        <div class="container has-text-centered">
            <h1 class="title is-1 mainpage-title">My Wedding Planner</h1>
            <p class="subtitle">Your wedding plans, all in one place.</p>
            <div class="field is-grouped is-grouped-centered">
                <p class="control">
                    <a class="button is-info" href="/login">
                        <span><i class="mdi mdi-login-variant mdi-light"></i> Login</span>
                    </a>
                </p>
                <p class="control">
                    <a class="button is-info" href="/signup">
                        <span><i class="mdi mdi-account-plus mdi-light"></i> Sign up</span>
                    </a>
                </p>
            </div>
        </div>
    </section>

    <div class="section">
        <div class="container is-fluid">
            <div class="columns">
                    <div class="column">
                        <div id="venue">
                            <div href="#">Venues</div>
                        </div>
                    </div>
                    <div class="column">
                        <div id="photographer">
                            <div href="#">Photographers</div>
                        </div>
                    </div>
                    <div class="column">
                        <div id="video">
                            <div href="#">Videographers</div>
                        </div>
                    </div>
                    <div class="column">
                        <div id="caterer">
                            <div style="background-color: #99ddff" href="#">Caterers</div>
                        </div>
                    </div>
                    <div class="column">
                        <div id="music">
                            <div style="background-color: #ffb3ff" href="#">Band/DJ</div>
                        </div>
                    </div>
                    <div class="column">
                        <div id="hair">
                            <div style="background-color: #ffff4d" href="#">Cosmetics</div>
                        </div>
                    </div>
                    <div class="column">
                        <div id="tailor">
                            <div style="background-color: #80ffff" href="#">Tailors</div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}