{% extends "layout.html" %}
{% block body %}
    <section id="bgImage" class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">This is my test</h1>
        <p class="lead text-muted">Some description about the website and it's purpose</p>
        <p>
          <a href="/login" class="btn btn-primary">Log In</a>
          <a href="/signup" class="btn btn-secondary">Register</a>
        </p>
      </div>
    </section>

    <div class="vendorList">
      <ul>
        <li>
          <div class="vendorCard" style="background-color: #a6ff4d" href="#">Venues</div>
        </li>
        <li>
          <div class="vendorCard" style="background-color: #cc99ff" href="#">Photographers</div>
        </li>
        <li>
          <div class="vendorCard" style="background-color: #6699ff" href="#">Videographers</div>
        </li>
        <li>
          <div class="vendorCard" style="background-color: #99ddff" href="#">Caterers</div>
        </li>
        <li>
          <div class="vendorCard" style="background-color: #ffb3ff" href="#">Band/DJ</div>
        </li>
        <li>
          <div class="vendorCard" style="background-color: #ffff4d" href="#">Hairstyle & Make Up Artists</div>
        </li>
        <li>
          <div class="vendorCard" style="background-color: #80ffff" href="#">Tailors</div>
        </li>
      </ul>
    </div>
{% endblock %}