<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/progressively/dist/progressively.min.css">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='framework.986ba359e4af5d1071001a88ba2b1aab.css') }}">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='main.cddfec39a7d6768bc6c80043783b9bf2.css') }}">
    
    {% block head %} {% endblock %}
  </head>
  <body>
    <nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="dropdown navigation">
      <div class="container">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">
            <span>My Wedding Planner</span>
          </a>
          <div class="navbar-burger" data-target="vendorTypeMenu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="vendorTypeMenu" class="navbar-menu">
          <div class="navbar-item has-dropdown is-hoverable">
            <a href="/vendor-list" class="navbar-link">
              Vendors
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="/vendor-list#venue">
                Venues
              </a>
              <a class="navbar-item" href="/vendor-list#photographer">
                Photographers
              </a>
              <a class="navbar-item" href="/vendor-list#videographer">
                Videographers
              </a>
              <a class="navbar-item" href="/vendor-list#caterer">
                Caterers
              </a>
              <a class="navbar-item" href="/vendor-list#music">
                Music
              </a>
              <a class="navbar-item" href="/vendor-list#cosmetics">
                Cosmetics
              </a>
              <a class="navbar-item" href="/vendor-list#tailor">
                Tailors
              </a>
            </div>
          </div>
          <div class="navbar-item">
            <a href="/gendata">
              Generate Data
            </a>
          </div>
          <div id="addVendors" class="navbar-item">
            <a>
              Add Vendors
            </a>
          </div>
          <div class="navbar-end">
          {% if session['email'] %}
            <div class="navbar-item has-dropdown is-hoverable">
              {% if session['userType'] == 'vendor'%}
              <a href="/profile" class="navbar-link">
              {% elif session['userType'] == 'user' %}
              <a href="/user-account" class="navbar-link">
              {% endif %}
                <span class="icon is-small">
                  <i class="mdi mdi-account-circle mdi-24px"></i>
                </span>
              </a>
              <div class="navbar-dropdown is-boxed">
                <div class="navbar-item">
                  <small>Logged in as <strong>{{ session['name'] }}</strong></small>
                </div>
                <hr class="navbar-divider">
                {% if session['userType'] == 'vendor' %}
                <a class="navbar-item" href="/profile#bookings">
                  <span class="icon">
                    <i class="mdi mdi-book-open-variant"></i>
                  </span>
                  Bookings
                </a>
                <a class="navbar-item" href="/profile#account">
                  <span class="icon">
                    <i class="mdi mdi-account"></i>
                  </span>
                  Account
                </a>
                <a class="navbar-item" href="/portfolio?vendor={{ session['userID'] }}">
                  <span class="icon">
                    <i class="mdi mdi-treasure-chest"></i>
                  </span>
                  Portfolio
                </a>
                {% elif session['userType'] == 'user' %}
                <a class="navbar-item" href="/user-account#organizer">
                  <span class="icon">
                    <i class="mdi mdi-book-open-variant"></i>
                  </span>
                  Organizer
                </a>
                <a class="navbar-item" href="/user-account#account">
                  <span class="icon">
                    <i class="mdi mdi-account"></i>
                  </span>
                  Account
                </a>
                {% endif %}
              </div>
            </div>
          {% endif %}
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                {% if not session['email'] %}
                  <a class="button is-info is-outlined" href="/login">
                    <span><i class="mdi mdi-login-variant"></i> Login</span>
                  </a>
                {% else %}
                  <a class="button is-info is-outlined" href="/logout">
                    <span><i class="mdi mdi-logout-variant"></i> Logout</span>
                  </a>
                {% endif %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container is-fluid is-marginless brand-color">
    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
      {% for category, message in messages %}
        <div class="notification {{ category }} is-radiusless flash-msg">
          <button class="delete flash-dismiss"></button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %} {% endwith %}
      {% block body %} {% endblock %}
    </div>
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <strong><a href="#">Back to top</a></strong>
          </p>
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/progressively/dist/progressively.min.js"></script>
    
    <script type="text/javascript" src="{{ url_for('static', filename='framework.2f7e0709feffffc6036e.js') }}"></script>
    
    <script type="text/javascript" src="{{ url_for('static', filename='main.2f7e0709feffffc6036e.js') }}"></script>
    
    {% block scripts %}{% endblock %}
  </body>
</html>
