{% extends 'layout.html' %}
{% block head %}
    <link type="text/css" href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <!-- TODO: Flexify this page -->
    <div class="wrapper">
        <div class='signup-container'>
            <div class="form-container-signup">
                <h1 class="title is-2 is-marginless">Login</h1>
                <hr>
                <form method='POST'>
                    {% include 'components/register_login_inputs.html' %}
                    <input class="submit-button" type='submit' value="Login">
                </form>
            </div>
            <p id="create-msg">Don't have an account? <a id="create-account"
                href="/signup">Create one!</a></p>
        </div>
    </div>
{% endblock %}
