<!DOCTYPE html>
<html>
    <body>
      {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category, message in messages %}
            <li class= "{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
 {% endwith %}

<div class='container'>
 
  <h2>LOGIN</h2>
 
<form  method="POST">
 
    <label for='username'>Email(username):</label>
    <input type="text" name="username" id='username' class='form-control'/>
 
    <label for='password'> Password:</label>
    <input type="password" name="password" id='password' class='form-control'/>
 
 
  <br>
    <input type="submit"  value="Login"/>
 
</form>
</div>
</body>
</html>