<!-- TODO: This page will show up after a specific vendor's card is clicked on vendor-list.html -->

<!-- TODO: This page will show that specific vendor's portfolio. There should be thumbnails display
    of the vendor's previous work (such as photos of food catered, tuxedos, hairstyles done, etc),
    complete information about the vendor that wasn't displayed on the vendor-list.html (such as
    complete address of the vendor, short biography explaining who they are, availability calendar,
    price range, rating (optional), etc)
-->

<!-- TODO: Since we are short on time, we should skip the availability calendar for now, front end design
    can create a section (div) to display availability calendar and hard coded a text "Not available on Sunday"
    or something like that, just for the sake of demo.
-->

<!-- TODO: This page will need a button for booking and a button to go back to vendor-list.html -->

<!-- TODO: This page should have a "request quote" button and "message vendor" button (only active/show up
    when a user is login). This is just for front end design, we can skip functionality of these two buttons
    for now but it should be included in the design for demo (when clicked, the two buttons will do nothing)
-->

<!-- TODO: Use bulma to design this page -->
