{% extends 'layout.html' %}
{% block head %}
    <link type="text/css" href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    <!-- TODO: Flexify this page -->
    <div class = "wrapper">
        <div class = 'signup-container'>
            <div class = "form-container-signup">
                <h1>Sign up</h1>
                <div class="signup-tabs">
                    <a href="#" class="toggle-form active-form"> Organizer </a>
                    <span> | </span>
                    <a href="#" class="toggle-form show-vendor"> Vendor </a>
                </div>
                <hr>
                <div class="organizer-signup">
                    <form method='POST'>
                        <!-- Grabs the inputs from components/register_inputs.html -->
                        {% include 'components/register_inputs.html' %}
                        <input name="organizer_signup" class="submit-button" type='submit' value="Sign up"/>
                    </form>
                </div>
            
                <!-- Sign up for vendor users -->
                <div class="vendor-signup">
                    <form method='POST'>
                    <!-- Grabs the inputs from components/register_inputs.html -->
                    {% include 'components/register_inputs.html' %}
                    <label> I wish to sign up as a Vendor
                        <input name="is_vendor" type="checkbox" required>
                    </label>
                    <input name="vendor_signup" class="submit-button" type='submit' value="Sign up"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
