<!DOCTYPE html>
<html>
<body>
<form  method="POST">
<table>
        <tr>
            <td><label for="username">Email(username)</label></td>
            <td>
                <input name="username" type="email">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Register">
</form>
</body>
</html>
