<!-- TODO: This page show up after user log in on login.html -->

<!-- TODO: This page will show "the organizer book" of the registered user, where user can input or edit their
    wedding data, such as number of guest, date of the wedding, location (state), etc.
    This page should have a table of all 7 vendor's category displayed in rows, with columns next to them
    to mark "booked", and a space for user to add notes. Once a vendor is marked booked, the vendor's
    information will be displayed (company name, contact person name, phone number, email).
-->

<!-- TODO: This page will have a button linked to vendor-list.html page and a log out button -->

<!-- TODO: Use bulma to design this page -->

<!-- I've copy pasted these lines of codes from organizer.html and deleted that page -->
{% extends 'layout.html' %}
{% block body %}
  <h2> Welcome back to your organizer {{session['username']}} </h2>
{% endblock %}
