<div class="field">
  <div class="control has-icons-left">
    <input class="input is-medium {% if u_errors['nameerrors'] %}is-danger{% endif %}"
      type="text" placeholder="Full Name" name="name" value="{{ user_info['name'] }}">
    <span class="icon is-left">
      <i class="mdi mdi-account-circle"></i>
    </span>
    <div class="error-msgs-wrapper">
      {% if u_errors["nameerrors"] %}
        {% for error in u_errors["nameerrors"] %}
          <p class="help is-danger">
            <i class="mdi mdi-alert-circle"></i>
            {{ error }}
          </p>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
<div class="field">
  <div class="control has-icons-left">
    <input class="input is-medium {% if u_errors['usererrors'] %}is-danger{% endif %}" 
      type="text" placeholder="Email" name="email" value="{{ user_info['email'] }}">
    <span class="icon is-left">
      <i class="mdi mdi-email-outline"></i>
    </span>
    <div class="error-msgs-wrapper">
      {% if u_errors["usererrors"] %}
        {% for error in u_errors["usererrors"] %}
          <p class="help is-danger">
            <i class="mdi mdi-alert-circle"></i>
            {{ error }}
          </p>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
<div class="field">
  <div class="control has-icons-left">
    <input class="input is-medium {% if u_errors['passerrors'] %}is-danger{% endif %}" 
      type="password" placeholder="Password" name="password">
    <span class="icon is-left">
      <i class="mdi mdi-lock-outline"></i>
    </span>
    <div class="error-msgs-wrapper">
      {% if u_errors["passerrors"] %}
        {% for error in u_errors["passerrors"] %}
          <p class="help is-danger">
            <i class="mdi mdi-alert-circle"></i>
            {{ error }}
          </p>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
<div class="field">
  <div class="control has-icons-left">
    <input class="input is-medium {% if u_errors['verifyerrors'] %}is-danger{% endif %}"
      type="password" placeholder="Verify Password" name="verify">
    <span class="icon is-left">
      <i class="mdi mdi-checkbox-marked-circle-outline"></i>
    </span>
    <div class="error-msgs-wrapper">
      {% if u_errors["verifyerrors"] %}
        {% for error in u_errors["verifyerrors"] %}
          <p class="help is-danger">
            <i class="mdi mdi-alert-circle"></i>
            {{ error }}
          </p>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>