<div class="field">
  <div class="control has-icons-left">
    <input id="emailField" class="input is-medium {% if errors['usererrors'] %}is-danger{% endif %}" 
      type="text" placeholder="Email" name="email" value="{{ email }}">
    <span class="icon is-left">
      <i class="mdi mdi-email-outline"></i>
    </span>
    <div class="error-msgs-wrapper">
      {% if errors["usererrors"] %}
        {% for error in errors["usererrors"] %}
          <p class="help is-danger">
            <i class="mdi mdi-alert-circle"></i>
            {{ error }}
          </p>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
<div class="field">
  <div class="control has-icons-left">
    <input class="input is-medium {% if errors['passerrors'] %}is-danger{% endif %}" 
      type="password" placeholder="Password" name="password">
    <span class="icon is-left">
      <i class="mdi mdi-lock-outline"></i>
    </span>
    <div class="error-msgs-wrapper">
      {% if errors["passerrors"] %}
        {% for error in errors["passerrors"] %}
          <p class="help is-danger">
            <i class="mdi mdi-alert-circle"></i>
            {{ error }}
          </p>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>