<input class = 'signup-field {% if errors["usererrors"] %}error-border{% endif %}'
type = 'text' placeholder = 'Username' name = 'username' value='{{ username }}'>
<div class='error-msgs-wrapper'>
    {% if errors["usererrors"] %}
        {% for error in errors["usererrors"] %}
            <p class='error'>
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}
</div>
<input class = 'signup-field {% if errors["passerrors"] %}error-border{% endif %}'
type = 'password' placeholder = 'Password' name = 'password'>
<div class='error-msgs-wrapper'>
    {% if errors["passerrors"] %}
        {% for error in errors["passerrors"] %}
            <p class='error'>
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}
</div>
<input class = 'signup-field {% if errors["verifyerrors"] %}error-border{% endif %}'
type = 'password' placeholder = 'Verify Password' name = 'verify'>
<div class='error-msgs-wrapper'>
    {% if errors["verifyerrors"] %}
        {% for error in errors["verifyerrors"] %}
            <p class='error'>
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}
</div>